html{
  /*background-color: #FF9933;*/
}

body{
  padding-top: 70px;
}

#timer{
  font-size: 300px;
  padding-left: 40px;
}

#start{
  margin-left:  35%;
   padding: 28px 110px;
   align-items: center;
  border-radius: 5%;
  font-size: 50px;
  border-color: black;
  border-width: 5px;
}
