html{
  /*background-color: #FF9933;*/
}

body{
  padding-top: 70px;
}

#timer{
  font-size: 300px;
  padding-left: 40px;
}

#start{
  margin-left:  35%;
  padding: 28px 110px;
  align-items: center;
  font-size: 50px;
  border-color: black;
  border-width: 5px;
}

#break{
  background-color: red;
  color: black;
  margin-top: 5%;
  margin-left:  39%;
  padding: 14px 50px;
  align-items: center;
  font-size: 50px;
  border-color: black;
  border-width: 5px;
}
